html {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: -50px;
    margin-bottom: 0px;
    background-color: #ae94b8;
}

body {
    text-align: center;
    background-color: #eddee8;
    font-family: Verdana;
    padding-top:30px;
}

h1 {
    font-size: 60px;
    padding-top: 50px;
    line-height: 1;
}

#headerContact table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#headerContact table thead span {
    font-weight: bold;
    font-size: 30px;
}

#headerContact table tbody span {
    padding-left: 20px;
    padding-right: 20px;
    line-height: .5;
}

header div {
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 20px;
}

header img {
    padding-top: 30px;
}

header {
    padding-bottom: 30px;
}

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.box {
    width: 965px;
    background-color: white;
    margin: 0 auto;
    border-radius: 25px;
    padding: 1px 15px 10px;
}

.description {
    text-align: left;

}

article section {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

article section img {
    border: 7px solid #929292;
    border-radius: 10px;
    width: 75%;
}

article section table {
    padding-left: 25px;
    padding-right: 25px;
}

article section table thead {
    font-weight: bold;
    font-size: 30px;
}

article section table tbody {
    font-size: 25px;
}

article td {
    padding-top: -10px;
}

#elizabeth span {
    color: red;
}

footer {
    background-color: #ae94b8;
    padding-top: 20px;
}

#contactHeader span {
    font-size: 40px;
    font-weight: bold;
}

footer table {
    padding-top: 0px;
    padding-bottom:60px;
    display: flex;
    justify-content: center;
}

footer a span {
    justify-content: center;
}

footer img {
    width: 40px;
}

footer td {
    padding-left: 15px;
    padding-right: 15px;

    text-align: center;
}

@media only screen and (max-width: 1375px) {
    html {
        margin-left: 6%;
        margin-right: 6%;
        margin-top: -50px;
        margin-bottom: 0px;
        width: 80%;
    }

    body {
    width: 107%;
    }

    header img {
        padding-top: 30px;
        width: 90%;
    }

    article {
        padding-bottom: 40px;
    }

    article section {
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    article table {
        padding-top: 75px;
    }

    article table img {
        width: 85%;
    }


}

@media only screen and (max-width: 850) {

}