body {
    text-align: center;
    background-color: #eddee8;
}

div {
    display: flex;
    justify-content: center;
}

img {
    border: 7px solid #929292;
    border-radius: 10px;
    width: 500px;
}   

table {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

